<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/product_search.html" aria-expanded="false"><i
                            class="mdi mdi-account-check"></i><span class="hide-menu">Product Search</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/page-blank.html" aria-expanded="false"><i
                            class="mdi mdi-book-open-variant"></i><span class="hide-menu">Blank Page</span></a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

